{% load static %}
<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" defer></script>
        <script src="https://cdn.tailwindcss.com"></script>
        
        <style>
            body 
            {
                background-color: #333333;
            }
        </style>        
    </head>

    <body hx-boost="true">

        <main>
            {% block content %}
            {% endblock %}
        </main>
        <nav>
            <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
                <div class="menu-left flex items-center space-x-6">
                    <a href="#" class="py-4 text-lg text-purple-500 font-semibold">Unreal Expert</a>
                    <ul class="flex items-center space-x-4 text-white">
                        <li><a hx-get="{% url 'generate_ssh_key'%}">Plugins</a></li>
                        <li><a href="#">Consultants</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="https://www.youtube.com/@Unreal.Expert" class="text-purple-500 hover:text-purple-800">YouTube</a></li>
                        <li><a href="https://unrealexpert.substack.com" class="text-purple-500 hover:text-purple-800">Substack</a></li>
                        <li><a href="https://twitter.com/unrealexpertx" class="text-purple-500 hover:text-purple-800">X</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <footer>
        </footer>
    </body>
</html>